.home {
  padding: 20px;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: 30%;
  margin-bottom: 20px;
}

.movie img {
  width: 100%;
  height: auto;
}
