.home {
  padding: 20px;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: 30%;
  margin-bottom: 20px;
}

.movie img {
  width: 100%;
  height: auto;
}
img {
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

img:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

a {
  padding-right: 20px;
  font-size: 26px;
  text-decoration: none;
  color: inherit;
}

a p {
  margin-top: 8px;
  font-size: 36px;
  color: #333;
}
